<%- include('partials/header') %>

<!-- Function for cards-->
<!----------------------->

<main>
<div id="" class="l">
    <form action="/getCity" method="POST"> 
        <input class="" type="text" id="cityName" name="cityName" placeholder="Enter city name..."> 
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
</main>

<%- include('partials/footer') %>
